
@import (less) './themes/V3/5ePHB/style.less';
@import (less) './themes/fonts/5e/fonts.less';

@import url('./themes/global-shadcn.css');

@layer base {

    body{
      font-family: "BookInsanityRemake";
    }
  
    h1, h2 {
      font-family: 'NodestoCapsCondensed';
    }
    
    h3{
      font-family:  'MrEavesRemake';
    } 
    
    h4, h5, h6 {
        font-family : 'MrEavesRemake';
    }

    table {
      font-family: 'ScalySansRemake';
    }

    p {
      font-family: "ScalySansRemake";
    }

}
