<div
  class="mb-8 flex flex-col items-start space-y-4 sm:flex-row sm:items-center sm:justify-between sm:space-y-0"
>
  <div>
    <h2 class="mb-4 text-4xl font-semibold">Game Details</h2>
    <p class="text-gray-600">
      Our D&D games include detailed 3D landscapes and models, documented
      campaigns, and customized handouts for Heroes.
    </p>
  </div>
</div>

<div
  class="mb-8 flex flex-col items-start space-y-4 sm:flex-row sm:items-center sm:justify-between sm:space-y-0"
>
  <div>
    <h2 class="mb-4 text-4xl font-semibold">Session Arc</h2>
    <p class="text-gray-600">
      Each arc forms a chapter in the collective story. Upon completion of a
      session arc, the players will receive an orphan die of their choice.
    </p>
  </div>
</div>
<div
  class="mb-8 flex flex-col items-start space-y-4 sm:flex-row sm:items-center sm:justify-between sm:space-y-0"
>
  <div>
    <h2 class="mb-4 text-4xl font-semibold">First Time Player Discount</h2>
    <p class="text-gray-600">
      Get a $5 discount on your first full session arc and a $15 discount for
      single sessions.
    </p>
  </div>
</div>
