---
import WizardHead from "@components/WizardHead.astro";
import { HeroHeader } from "@components/hero-header";
import Features from "@components/Features.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <WizardHead title="About" description="About" />
  </head>
  <body>
    <HeroHeader />
    <Features />
  </body>
</html>
