---
import WizardHead from "@components/WizardHead.astro";
import PriceTiers from "@components/price-tiers";
import PriceTable from "@components/price-table";
---

<!doctype html>
<html lang="en">
  <head>
    <WizardHead title="About" description="About" />
  </head>
  <body>
    <div class="page phb">
      <PriceTable />
      <PriceTiers />
    </div>
  </body>
</html>
