---
import Button from "@components/navigation/Button.astro";

import Layout from "@layouts/BaseLayout.astro";
---

<Layout>
  <div class="w-full py-12 phb page">
    <div
      class="container grid items-center justify-center gap-4 px-4 text-center md:gap-10"
    >
      <div class="space-y-3">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          Join the Adventure
        </h2>
        <p
          class="mx-auto max-w-[700px] text-gray-500 dark:text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Choose your tier and unlock the secrets of the universe. Cancel
          anytime.
        </p>
      </div>
      <div
        class="grid w-full grid-cols-1 items-stretch justify-center md:grid-cols-3"
      >
        <div
          class="flex w-full flex-col items-center justify-center p-4 sm:p-8"
        >
          <div>
            <div>Adventurer</div>
            <div>Access to the library of knowledge.</div>
            <div>$9/month</div>
            <div>Sign Up</div>
          </div>
        </div>
        <div
          class="flex w-full flex-col items-center justify-center p-4 sm:p-8"
        >
          <div>
            <div>Champion</div>
            <div>The universe is yours to explore.</div>
            <div>$19/month</div>
            <div>Sign Up</div>
          </div>
        </div>
        <div
          class="flex w-full flex-col items-center justify-center p-4 sm:p-8"
        >
          <div>
            <div>Legend</div>
            <div>Ancient wisdom and infinite possibilities.</div>
            <div>$49/month</div>
            <div>Sign Up</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
