---
import WizardHead from "@components/WizardHead.astro";
import { WizardMenu } from "@components/wizard-menu";
---

<!doctype html>
<html lang="en">
  <head>
    <WizardHead title="About" description="About" />
  </head>
  <body>
    <WizardMenu />
  </body>
</html>
