---
import WizardHead from "@components/WizardHead.astro";
import GameSignup from "@components/v0/registration.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <WizardHead title="About" description="About" />
  </head>
  <body>
    <GameSignup />
  </body>
</html>
