---
import WizardHead from "@components/WizardHead.astro";
import NewPlayer from "@components/forms/new-player.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <WizardHead title="About" description="About" />
    <NewPlayer />
  </head>
  <body> </body>
</html>
