---

import { cn } from "./../../lib/utils"
import { Announcement } from "../components/announcement"
import { ExamplesNav } from "../components/examples-nav"
import {
  PageActions,
  PageHeader,
  PageHeaderDescription,
  PageHeaderHeading,
} from "../components/page-header"
import { buttonVariants } from "./../components/ui/button"

const metadata = {
  title: "Examples",
  description: "Check out some examples app built using the components.",
}

---


<PageHeader>
  <Announcement />
  <PageHeaderHeading className="hidden md:block">Check out some examples</PageHeaderHeading>
  <PageHeaderHeading className="md:hidden">Examples</PageHeaderHeading>
  <PageHeaderDescription>
    Dashboard, cards, authentication. Some examples built using the components. Use this as a guide to build your own.
  </PageHeaderDescription>
  <PageActions>
    <a
      href="/docs"
      class={cn(buttonVariants(), "rounded-[6px]")}
    >
      Get Started
    </a>
    <a
      href="/components"
      class={cn(
        buttonVariants({ variant: "outline" }),
        "rounded-[6px]"
      )}
    >
      Components
    </a>
  </PageActions>
</PageHeader>

<section>
  <ExamplesNav />
  <div class="overflow-hidden rounded-[0.5rem] border bg-background shadow-md md:shadow-xl">
    <slot/>
  </div>
</section>

../components/announcement../components/examples-nav../components/page-header