---
import WizardBaseLayout from "@layouts/WizardBaseLayout.astro";
import { WizardMenu } from "@components/wizard-menu";

const props = Astro.props;
const { title, description, style, thumbnail, og_image } = Astro.props;
---

<WizardBaseLayout {title} {description} {thumbnail} {og_image}>
  <WizardMenu />

  <div class="container relative z-10 w-full" id="more">
    <slot />
  </div>
</WizardBaseLayout>
