
/* Main Font, serif */
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('Bookinsanity Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}

/* Notes and Tables, sans-serif */
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('Scaly Sans Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: ScalySansSmallCapsRemake;
	src: url('Scaly Sans Caps.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: WalterTurncoat;
	src: url('WalterTurncoat-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Headers */
@font-face {
	font-family: MrEavesRemake;
	src: url('Mr Eaves Small Caps.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Fancy Drop Cap */
@font-face {
	font-family: SolberaImitationRemake;
	src: url('Solbera Imitation Tweak.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Cover Page */
@font-face {
	font-family: NodestoCapsCondensed;
	src: url('Nodesto Caps Condensed.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: NodestoCapsCondensed;
	src: url('Nodesto Caps Condensed Bold.woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: NodestoCapsCondensed;
	src: url('Nodesto Caps Condensed Italic.woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: NodestoCapsCondensed;
	src: url('Nodesto Caps Condensed Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: NodestoCapsWide;
	src: url('Nodesto Caps Wide.woff2');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: Overpass;
	src: url('Overpass Medium.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Davek;
	src: url('Davek.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Iokharic;
	src: url('Iokharic.woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Rellanic;
	src: url('Rellanic.woff2');
	font-weight: 500;
	font-style: normal;
}
